img.bg-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div.bg {
  width: 100vw;
  height: 86vh;
  background: #0e060ede;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* div.bg::before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #573057;
  top: 90vh;
  left: -60px;
  z-index: 3;
  filter: blur(120px);
} */

div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

div.hero p {
  font-family: Alata;
  color: white;
  font-size: 46px;
  line-height: 150%;
  text-align: center;
  width: 70%;
}

div.hero .inputs {
  width: 55%;
  backdrop-filter: blur(5px);
}

div.torrent-section {
  height: auto;
  min-height: 20vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  background: #110611;
  box-shadow: 0 -120px 90px #110611;
  padding-bottom: 50px;
}

div.torrents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

div.filters {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  /* left: 55px; */
}

div.filters::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

}

div.filters button {
  padding: 10px 22px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  position: relative;
}

div.filters button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.3px;
  border-radius: 3px;
  /* background: white; */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .24s ease-in-out;
}

div.filters button:hover::before,
div.filters button.active::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (max-width: 768px) {
  div.bg {
    height: 70vh;
  }

  div.hero p {
    font-size: 26px;
    line-height: 130%;
    width: 86%;
  }

  div.torrent-section {
    gap: 15px;
    /* justify-content: center; */
  }

}