div.overlay {
  background-color: #1a1221;
  background: linear-gradient(rgba(11, 3, 21, 0.8), rgba(11, 3, 21, 0.8)), url("../../Assets/Imgs/bg.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: fixed; */
}

div.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  backdrop-filter: blur(9px);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100%;
  font-family: Alata;
  gap: 45px;
}

p.punchline {
  font-size: 50px;
  color: #fefefe;
  text-align: center;
  position: relative;
  width: 90%;
}

p.punchline::before {
  content: '';
  position: absolute;
  left: 220px;
  top: 10px;
  width: 130px;
  height: 30px;
  background: var(--accent-color);
  filter: blur(50px);
}

p.note {
  font-family: quicksand;
  font-size: 12.8px;
  width: max(80%, 310px);
  text-align: center;
  color: #E9D8FF;
}

div.inputs {
  position: relative;
  /* background: #000; */
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.inputs input {
  border: 1.5px solid var(--accent-color);
  background: none;
  outline: none;
  width: 100%;
  border-radius: 50px;
  height: 50px;
  padding: 10px 25px;
  color: white;
  font-family: Abeezee;
  font-size: 15px;
}

div.inputs input::placeholder {
  color: #D5BBEF;
}

div.inputs button {
  border: none;
  outline: none;
  position: absolute;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  right: 3.19px;
  background-color: var(--accent-color);
  background-image: url("../../Assets/Imgs/magnifying_glass.svg");
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
}

div.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.load_more {
  position: relative;
  padding: 8px 24px;
  width: 120px;
  outline: none;
  border: none;
  background: var(--accent-color);
  color: #1a1221;
  border-radius: 5px;
  top: 55px;
  /* is margin wali line ko mazeed designing ke wakt remove karna hai */
  margin-bottom: 85px;
  /* display: block; */
}

div#videoplayer {
  display: none;
  position: fixed;
  background: #000000e1;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100000;
  left: 0;
}

div#videoplayer button{
  position: absolute;
  z-index: 10000;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  transition: 200ms;
}

div#videoplayer button:hover{
  transform: scale(1.5);
}

div#videoplayer iframe:last-of-type{
  position: absolute;
  height: 90% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 95% !important; */
}

.player_loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto !important;
}

/* div#videoplayer */

@media (max-width: 768px) {

  div.hero {
    height: 85vh;
  }

  p.punchline {
    font-size: 32px;
  }

  p.note {
    font-size: 10px;
  }
}