img.bg-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div.bg {
  width: 100vw;
  height: 100vh;
  background: #0e060ede;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

div.hero p {
  font-family: AnimeAce;
  color: white;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  width: 70%;
}

div.hero .inputs {
  width: 55%;
  backdrop-filter: blur(5px);
}

div.anime-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 35px;
  color: #fdfdfd;
  background: #110611;
  /* box-shadow: 0 -100px 20px #110611; */
}

div.top-picks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.anime-container {
  justify-content: flex-start;
}

p.heading {
  font-family: AnimeAce;
}